{% extends "base.html" %}

{% block content %}
<h1> Posts for you down below </h1>

<ul>
    {%for post in posts %}
    <li>
        <a href="{% url 'post_detail' post.pk %}"> {{post.title}}</a>
        by {{post.author.first_name}}
        <div>{{post.content}}</div>
        </br>
    </li>
    {%endfor%}
</ul>

{% if form %}
    <h1> Create post </h1>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary"> Post </button>
    </form>
{% else %}
    <h1> Log In before post creation</h1>
{% endif %}
{% endblock %}